body{
    background-color: grey;
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
}

#main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* position: relative; */
}
#container{
    display:flex;
    flex-direction: column;
    justify-content: center;

}

#picture{
    height: 100%;
    width: 80%;
    align-self: center;
    display: block;
   
}  

/* #btnRight{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 250px;
    left: 850px;
    transform: translate(0, -50%);
    font-size: 20px;
}

#btnRight:disabled{
    background-color: red;
}

#btnLeft:disabled{
    background-color: red;
}

#btnLeft{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 250px;
    left: 0;
    transform: translate(0, -50%);
} */

#counter{
    text-align: center;
    margin-top: 10px;
}
.button{
    width: 20px;
    height: 20px;
} */